<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Digital Bank</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header class="header">
    <h2>🏦 Digital Bank</h2>
</header>

<main class="container">
    <h1>Seja bem vindo</h1>
    <p>Gerencie suas finanças de forma simples, rápida e segura.</p>

    <div class="actions">
        <a th:href="@{/login}" class="btn">Entrar</a>
        <a href="#" class="btn secondary">Criar Conta</a>
    </div>
</main>

<footer class="footer">
    <p>© 2026 Digital Bank</p>
</footer>

</body>
</html>
